.btn {

    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    height: 36px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &-primary {
        background-color: $green;
        border: none;
        border-radius: 4px;
        color: white;
        min-width: 120px;

        &:hover {
            background-color: #00C4B4;
            transition: 100ms;
        }
    }

    &-ic {
        width: 24px;
        height: 24px;
        background-repeat: no-repeat;
        background-size: cover;
    }

}