$blue900: #364fc7;
$blue800: #3b5bdb;
$blue700: #4263eb;
$blue600: #4c6ef5;
$blue500: #5c7cfa;
$blue400: #748ffc;
$blue300: #91a7ff;
$blue200: #bac8ff;
$blue100: #dbe4ff;
$blue50: #edf2ff;

$green: #00b3a6;

$outline: 1px solid rgba(0, 0, 0, 0.12);
$black-high: rgba(0, 0, 0, 0.87);
$black-medium: rgba(0, 0, 0, 0.6);

$error: #B00020;

$darkblue: #0C1641;
