* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: white;
}

body {
  min-height: 100vh;
}

@import "variables";

@import "text";

@import "buttons";

@import "form";

@import "elements";

@import "elements_tablet";

@import "elements_mob";

@import "animations";

@import "tabs";